{% load mezzanine_wubook_tags i18n %}
{% get_wubook_form as form_wubook %}
<div class="form-wubook-room "id="form-wubook-room">
    {{ form_wubook.dfrom.label_tag }}
    {{ form_wubook.dfrom}}
    {{ form_wubook.dto.label_tag }}
    {{ form_wubook.dto }}
    <button type="button" class="btn btn-info btn-search-rooms">{% trans 'Search' %}</button>
</div>

<div class="room-results">

</div>
