{% load mezzanine_wubook_tags i18n %}
{% get_wubook_form as form_wubook %}
<form class="form-wubook-inline language-{{ request.LANGUAGE_CODE }}" method="get" id="form-wubook-inline" action="{{ form_wubook.get_action }}">
    {{ form_wubook.dfrom.label_tag }}
    {{ form_wubook.dfrom}}
    {{ form_wubook.dto.label_tag }}
    {{ form_wubook.dto }}
    <button type="submit" class="btn btn-info">{% trans 'Search' %}</button>
</form>
