<div id="widget_room_template" style="display: none">
{% verbatim %}
    <div>
        Adultos: {{ adults }} <br>
        Niños: {{ childrens }} <br>
        Precio: {{ price }} <br>
        <a class="btn btn-success" target="_blank" href="{{ action }}">Reservar</a>
    </div>
{% endverbatim %}
</div>