{% extends 'pages/page.html' %}
{% load mezzanine_tags %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://wubook.net/js/wbbook.jgz"></script>
{% endblock %}

{% block main %}

{#    <div class="container-fluid color-fluid-2b">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-8 col-md-offset-2">#}
{#                    {% editable page.wubookroompage.content %}#}
{#                    {{ page.wubookpage.content|richtext_filters|safe }}#}
{#                    {% endeditable %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!--.row 1-->
    {% for wubookroom in page.wubookroompage.wubook_rooms.all %}
        {% if forloop.counter0|divisibleby:"2" %}
            <div class="container-fluid wubook-room" data-room-id="{{ wubookroom.wubook_id }}">
                <div class="row">
                    <div class="col-md-6 limpio">
                    {% with roomimage=wubookroom.get_main_image %}
                        {% if roomimage %}
                        <img class="img-responsive" height="640" src="{{ roomimage.image_url }}"
                                                      width="960"/>
                        {% endif %}
                    {% endwith %}
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-8 promo">
                            <h2>{{ wubookroom.name }}</h2>
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, ipsum natus doloribus earum#}
{#                                voluptatem unde totam possimus.</p>#}
                            <div class="col-md-12">
                                    {% include 'mezzanine_wubook/includes/form_wubook_room.html' %}
{#                                <div class="mas-info">Mas info <i class="fa fa-angle-right fa-2x fa-special"></i></div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container-fluid container-promo-2 wubook-room" data-room-id="{{ wubookroom.wubook_id }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-8 col-md-offset-2 promo">
                            <h2>{{ wubookroom.name }}</h2>
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, ipsum natus doloribus earum#}
{#                                voluptatem unde totam.</p>#}
                            {% include 'mezzanine_wubook/includes/form_wubook_room.html' %}
                        </div>
                    </div>
                    <div class="col-md-6 limpio">
                    {% with roomimage=wubookroom.get_main_image %}
                        {% if roomimage %}
                        <img class="img-responsive" height="640" src="{{ roomimage.image_url }}"
                                                      width="960"/>
                        {% endif %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% include 'mezzanine_wubook/includes/widget_room_template.html' %}


{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static 'form_wubook/js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'form_wubook/js/wubook_rooms.js' %}"></script>
    <script>

        window.lcode = parseInt('{{ page.wubookroompage.get_lcode }}');
        window.rooms = JSON.parse('{{ page.wubookroompage.get_rooms_json|safe }}');
        window.booking_url = '{{ page.wubookroompage.get_booking_url }}';
    </script>
{% endblock %}

